/* Website colors */
:root {
  /* Main colors */
  --body-bg: #fff8dc;
  --black: #000;
  --white: #fff;

  /* Navbar colors */
  --navbar-bg: #000;
  --navbar-text: #fff;
  --navbar-btn-active-bg: #444;
  --navbar-btn-active-text: var(--white);
  --navbar-btn-hover-bg: var(--body-bg);
  --navbar-btn-hover-text: var(--black);

  /* Bottom bar colors */
  --bottombar-bg: #000;

  /* Snackbar colors */
  --snackbar-bg: #333;
}



/* Navbar style */

#navbar {
  background-color: var(--navbar-bg);
  overflow: hidden;
}

#navbar a {
  float: left;
  display: block;
  color: var(--navbar-text);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  cursor: pointer;
}

#navbar a img {
  width: 24px;
  height: 24px;
}

#navbar .hamburger {
  display: none;
}

@media screen and (max-width: 768px) {

  /* Navbar collapsed */

  #navbar a:not(:first-child) {
    display: none;
  }

  #navbar a.hamburger {
    float: right;
    display: block;
  }

  /* Navbar expanded */

  #navbar.expanded {
    position: relative;
  }

  #navbar.expanded a.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--navbar-btn-active-bg);
    color: var(--navbar-btn-active-text);
  }

  #navbar.expanded a {
    float: none;
    display: block;
    text-align: left;
  }
}



/* Bottom bar style */

#bottombar {
  padding-top: 16px;
  padding-bottom: 42px;
  width: 100%;
  z-index: 3;
  clear: both;
  height: 18px;
  background-color: var(--bottombar-bg);
  position: fixed;
  display: block;
  text-align: center;
  bottom: 0;
}

#bottombar a {
  color: var(--primar);
  text-decoration: none;

  display: inline-block;
  margin-left: 20px;
  cursor: pointer;
}

#bottombar a:hover {
  color: var(--div-bg-color-dark);
  transition: 200ms;
}

#bottombar a img {
  width: 32px;
  height: 32px;
}



/* Snackbar (toast) style */

#snackbarDiv {
  width: 100%;
  visibility: hidden;
  text-align: center;
  padding: 16px;
  position: fixed;
  bottom: 60px;
  z-index: 1;
}

#snackbarSpan {
  display: inline-block;
  background-color: var(--snackbar-bg);
  color: var(--white);
  border-radius: 2px;
  padding: 16px;
}



/* Body elements */

html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

body {
  background-color: var(--body-bg);
  color: var(--black);
}

#avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  margin-top: 15px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
}

#nameContainer {
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

#nameContainer span {
  font-size: 24px;
}