/* Website colors */
:root {
  /* Main colors */
  --body-bg: #fff8dc;
  --black: #000;
  --white: #fff;

  /* Navbar colors */
  --navbar-bg: #000;
  --navbar-text: #fff;
  --navbar-btn-active-bg: #444;
  --navbar-btn-active-text: var(--white);
  --navbar-btn-hover-bg: var(--body-bg);
  --navbar-btn-hover-text: var(--black);

  /* Bottom bar colors */
  --bottombar-bg: #000;

  /* Snackbar colors */
  --snackbar-bg: #333;
}



/* Navbar style */

#navbar {
  background-color: var(--navbar-bg);
}

#navbar a {
  color: var(--navbar-text);
  text-decoration: none;
  font-size: 17px;
  /* cursor: pointer; */
  /* border-top: 1px solid var(--navbar-bg);
  border-bottom: 1px solid var(--navbar-bg); */
}

#navbar a:hover {
  background-color: var(--navbar-btn-hover-bg);
  color: var(--navbar-btn-hover-text);
}

#navbar a.active {
  background-color: var(--navbar-btn-active-bg);
  color: var(--navbar-btn-active-text);
}

#navbar .hamburger {
  display: none;
}

@media screen and (max-width: 768px) {

  /* Navbar collapsed */

  #navbar a:not(:first-child) {
    display: none;
  }

  #navbar a.hamburger {
    float: right;
    display: block;
  }

  /* Navbar expanded */

  #navbar.expanded {
    position: relative;
  }

  #navbar.expanded a.hamburger {
    position: absolute;
    right: 0;
    top: 0;
    background-color: var(--navbar-btn-active-bg);
    color: var(--navbar-btn-active-text);
  }

  #navbar.expanded a {
    float: none;
    display: block;
    text-align: left;
  }
}



/* Bottom bar style */

#bottombar a img:hover {
  -webkit-filter: invert(.75);
  filter: invert(.75);
}



/* Snackbar (toast) style */

#snackbar_div {
  width: 100%;
  visibility: hidden;
  text-align: center;
  padding: 16px;
  position: fixed;
  bottom: 60px;
  z-index: 1;
}

#snackbar_span {
  display: inline-block;
  background-color: var(--snackbar-bg);
  color: var(--white);
  border-radius: 2px;
  padding: 16px;
}



/* Body elements */

html {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

#profile_picture {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3)
}