:root {
    /*--main-box-color: #0A5;*/
    /*--main-box-color: #4285F4;*/
    --header-color: #283747;
    --main-background-color: azure;

    --text-color-light: white;
    --text-color-dark: black;
    --text-color-url: yellow;

    --div-bg-color-light: #f4ecf7;
    --div-bg-color-dark: #8e44ad;

    --skill-title-color: #53777A;
}


/* body and content */
body {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    background: var(--main-background-color);
    color: var(--text-color-dark);
    margin: 0;
    min-width: 600px;
}


/* header and footer */
header {
    position: fixed;
    height: 60px;
    width: 100%;
    top: 0;
    z-index: 3;
    background-color: var(--header-color);
    display: block;
    min-width: 600px;
}

header a, footer a {
    color: var(--text-color-light);
    text-decoration: none;
}

header ul, footer ul {
    padding-inline-start: 0;
}

header ul li, footer ul li {
    list-style-type: none;
}

header ul li, footer ul li {
    display: inline-block;
    margin-left: 20px;
}

header ul li a, footer ul li a {
    cursor: pointer;
}

header li a:hover, footer li a:hover {
    color: var(--div-bg-color-dark);
    transition: 200ms;
}

header ul#left_nav {
    float: left;
    padding-top: 2px;
}

header ul#right_nav {
    float: right;
    margin-right: 20px;
    padding-top: 5px;
}

header ul li a#name {
    font-size: 24px;
    color: var(--text-color-light);
}

header ul li a#name:hover {
    color: var(--div-bg-color-dark);
    transition: 200ms;
}

header ul li a#name img {
    width: 24px;
    height: 24px;
}

footer {
    padding-bottom: 40px;
    width: 100%;
    z-index: 3;
    clear: both;
    height: 18px;
    background-color: var(--header-color);
    position: fixed;
    display: block;
    text-align: center;
    bottom: 0;
    min-width: 600px;
}

footer ul li a img {
    width: 32px;
    height: 32px;
}


/* snackbar / toast */
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    transform: translateX(-25%);
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }
    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }
    to {
        bottom: 0;
        opacity: 0;
    }
}


/* content */
.root_div_dark {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--div-bg-color-dark);
    color: var(--text-color-light);
    text-align: center;
}

.root_div_light {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background: var(--div-bg-color-light);
    color: var(--text-color-dark);
    text-align: center;
}

.content_div {
    width: 75%;
    margin: 0 auto;
}

img#avatar {
    width: 256px;
    height: 256px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

p#welcome_text {
    font-size: 28px;
    text-align: center;
    display: block;
    margin-block-start: 0;
}

.button-light {
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
    background: var(--text-color-light);
    color: var(--div-bg-color-dark);
    margin-top: 20px;
    padding: 10px;
    width: 180px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.3s;
    text-decoration: none;
}

.button-light:hover {
    background: var(--div-bg-color-dark);
    color: var(--text-color-light);
    transition: 300ms;
}

#name_as_content {
    display: block;
    font-size: 48px;
    line-height: 48px;
}


.skill_div {
    display: block;
    text-align: center;
}

.skill_div_title {
    display: block;
    color: var(--header-color);
}

.skill {
    display: inline-block;
}


.project_div {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
    width: 300px;
    height: 300px;
    text-align: start;
}

.project_description {
    display: block;
    text-decoration: none;
    color: var(--text-color-light);
}

.project_url {
    display: inline-block;
    text-decoration: none;
    color: var(--text-color-url);
}

.project_notes {
    display: block;
    font-style: italic;
    color: var(--text-color-light);
}

.project_img {
    width: 300px;
    height: 200px;
    border-radius: 10px;
}